.detail{ width: 75%; margin: 50px auto 100px; position: relative; background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 13px 27px  -5px rgb(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.295), 0 -6px 16px -6px rgba(0, 0, 0, 0.295);
}
.detail .poster{ width: 30%; margin: 20px 30px 10px 30px; display: inline-block;}
.detail .top{ position: absolute; display: inline-block; padding-right: 20px;}
.detail .top .title{ font-weight: 500; margin-top: 20px;}
.detail .top .year{ font-weight: 400; margin-top: 50px;}
.detail .genre{
    display: inline-block;
    position: absolute;
    top: 200px;
    left: 0;
    padding: 0;
}
.detail .genre > p{ 
    font-size: 25px; 
    margin: 10px 0;
}
.detail .genre li{ 
    list-style: none; 
    color: #666; 
    font-weight: lighter; 
    display: inline-block;
    margin-right: 6px;
}

@media screen and (max-width:900px){
    .detail{ 
        width: 90%;
    }
    .detail .top .title{ 
        font-size: 30px;
    }
    .detail .top .year{ 
        font-size: 20px; 
        margin-top: 30px;
    }
}

@media screen and (max-width:700px){
    .detail .top .title{ 
        font-size: 20px;
    }
    .detail .genre > p{ 
        margin: 5px 0;
    }
    .detail .genre{ 
        top: 135px;
        font-size: 16px;
    }
    .detail .genre li{ 
        font-size: 13px; 
        margin-right: 4px;
    }
}

.detail .summary > span{ 
    display: block; 
    font-size: 25px; 
    margin: 10px 0 20px; 
    font-weight: normal;
}
.detail .summary{
    padding: 30px; 
    box-sizing: border-box;
    font-weight: 300;
} 